<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
    h3{
        margin-top: -10px;
        margin-left: 25px;
        font-family: 'Source Code Pro', monospace;
    }
    .games-schedule .well {
    background-color: #fafbfc;
    border: 1px #e7e7e7 solid;
    border-top: 2px #1761a6 solid;
    border-radius: 0px;
    padding: 0 10px 0 10px;
}
.games-schedule .col-md-2 {
    padding: 5px;
}
.games-schedule-title {
    background-color: #1761a6;
    color: #ffffff;
    padding: 5px;
    margin-bottom: 10px;
    font-family: 'Source Code Pro', monospace;
}
.games-schedule-title h5 {
    font-size: 18px;
    text-align: center;
    margin: 3px 0 3px 0;
    font-family: 'Source Code Pro', monospace;
}
.games-schedule-items {
    padding: 5px;
    margin-bottom: 15px;
    font-family: 'Source Code Pro', monospace;
}
.last-item {
    margin-bottom: 0px;
}
.games-team {
    margin-bottom: 12px;
}
.games-team h4 {
    color: #59a1e8;
    text-align: center;
    margin-top: 20px;
    border: 1px #c8d8e7 dotted;
    padding: 5px;
    width: 100%;
    font-family: 'Source Code Pro', monospace;
}
.games-team img {
    border-bottom: 2px #6b9fd3 solid;
    margin-bottom: 3px;
}
.games-team span {
    color:blue;
    font-size: 13px;
}
.games-dash {
    border: none;
    border-top: 1px #95b3d0 dotted;
}
.games-info p {
    margin: 0;
    padding: 0;
    color: #0a2948;
    line-height: 20px;
    font-family: 'Source Code Pro', monospace;
}
.games-schedule-footer {
    background-color: #1761a6;
    color: #ffffff;
    font-size: 10px;
    padding: 5px;
}
.games-schedule-footer p {
    margin: 0;
}
.container{
    margin-left: 450px;
}
img{
    height: 100px;
    width: 110px;
}
</style>

<div class="container">

  <h3>ICC T20 2020 WORLD CUP</h3>
  <div class="row">
    <div class="col-md-4 games-schedule">
        <div class="well">
            <div class="games-schedule-title">
                <div class="row">
                    <div class="col-md-12">
                        <h5>SCHEDULE</h5>
                    </div>
                </div>
            </div>                
            <div class="games-schedule-items">
                <div class="row games-team">
                    <div class="col-md-5">
                        <img src="/assets/images/india.jpg" alt="india" >
                        <span>INDIA</span>
                    </div>
                    <div class="col-md-2">
                        <h4 class="img-circle">VS</h4>
                    </div>
                    <div class="col-md-5">
                        <img src="/assets/images/south.png" alt="south">
                        <span>SOUTH AFRICA</span>
                    </div>
                </div>
                <div class="row games-info">
                    <div class="col-md-12">
                        <p><span class="glyphicon glyphicon-play-circle"></span> Oct 24 2020 (<small>16:30 IST</small>)</p>
                        <p class="games-dash"></p>
                        <p><small>PERTH STADIUM, PERTH</small></p>
                    </div>
                </div>
            </div>  
            <div class="games-schedule-items">
                <div class="row games-team">
                    <div class="col-md-5">
                        <img src="/assets/images/india.jpg" alt="india">
                        <span>INIDA</span>
                    </div>
                    <div class="col-md-2">
                        <h4 class="img-circle">VS</h4>
                    </div>
                    <div class="col-md-5">
                        <img src="/assets/images/england.png" alt="england">
                        <span>ENGLAND</span>
                    </div>
                </div>
                <div class="row games-info">
                    <div class="col-md-12">
                        <p><span class="glyphicon glyphicon-play-circle"></span> Nov 01 2020 (<small>13:30 IST</small>)</p>
                        <p class="games-dash"></p>
                        <p><small>MELBOURNE CRICKET GROUND, MELBOURNE</small></p>
                    </div>
                </div>
                <!-- 115*67 -->
            </div>
            <div class="games-schedule-items">
                <div class="row games-team">
                    <div class="col-md-5">
                        <img src="/assets/images/india.jpg" alt="india">
                        <span>INIDA</span>
                    </div>
                    <div class="col-md-2">
                        <h4 class="img-circle">VS</h4>
                    </div>
                    <div class="col-md-5">
                        <img src="/assets/images/afghanistan.png" alt="afghanistan">
                        <span>AFGHANISTAN</span>
                    </div>
                </div>
                <div class="row games-info">
                    <div class="col-md-12">
                        <p><span class="glyphicon glyphicon-play-circle"></span> Nov 08 2020 (<small>13:30 IST</small>)</p>
                        <p class="games-dash"></p>
                        <p><small>SYDNEY CRICKET GROUND, SYDNEY</small></p>
                    </div>
                </div>
                
            </div>
            
            
        </div>
    </div>
  </div>

</div>
