<link
  href="https://fonts.googleapis.com/css?family=Source+Code+Pro:500&display=swap"
  rel="stylesheet"
/>
<style>

    div{
        font-family: "Source Code Pro", monospace;
    }
    span{
      font-family: "Source Code Pro", monospace;
      height: 400px;
      width: 400px;
      color: darkblue;
    
    }
</style>






<div class="well hoverwell thumbnail">
  <div>
  <div>
      <img src="{{member.imageUrl}}" alt="{{member.name}}" style="width: 100px; height: 100px;">
  </div>
  <div>{{member.id}}</div>
  <div  (click)="details()">{{member.name}}</div>
  <div>{{member.role}}</div>
</div>
  <span  *ngIf="flag">{{member.details}}</span>
</div>
