<style>
  #img {
    height: 400px;
    width: 750px;
    border: 5px solid black;
    border-radius: 10px;
  }
  #img2 {
    float: right;
    margin-right: 150px;
    margin-top: 150px;
    font-family: 'Source Code Pro', monospace;
    font-size:60px;
    color: darkblue;
    text-shadow: 4px 4px lightblue;
  }
  
</style>

<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:500&display=swap" rel="stylesheet">

<div>
  <img id="img" src="/assets/images/team.jpg" alt="bcci logo" />
  <!-- <img id="img2" src="/assets/images/logo.png" alt="logo" /> -->
  <h1 id="img2">BLEED BLUE</h1>
</div>

<span style="margin-top: 40px; float: right;font-family: 'Source Code Pro', monospace;">
  The India men's national cricket team, also known as Team India[8] and Men in
  Blue,[9] is governed by the Board of Control for Cricket in India (BCCI), and
  is a Full Member of the International Cricket Council (ICC) with Test, One-Day
  International (ODI) and Twenty20 International (T20I) status. Cricket was
  introduced to India by European merchant sailors in the 18th century, and the
  first cricket club was established in 1792. India's national cricket team did
  not play its first Test match until 25 June 1932 at Lord's, becoming the sixth
  team to be granted test cricket status. From 1932 India had to wait until
  1952, almost 20 years for its first Test victory. In its first fifty years of
  international cricket, India was one of the weaker teams, winning only 35 of
  the first 196 Test matches it played. The team, however, gained strength in
  the 1970s with the emergence of players such as batsmen Gavaskar, Viswanath,
  Kapil Dev, and the Indian spin quartet.
</span>
